/* Mobile & tablet */
@media (max-width : 1023px){
    :root{
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-table{
        display: none;
    }
    .header{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .header_cart-detail{
        position: fixed;
        width: 100%;
        right: 0px;
        top: var(--header-height);
        padding: 0 calc((98% - 644px) / 2 );
    }
    .header_cart-product{
        max-height: 30vh;
    }
    .header_cart-detail::before{
        display: none;
    }
    .app-container{
        margin-top: calc(var(--header-height) + var(--header_sort-bar-height));
    }
    .header_sort-bar{
        display: flex;
    }
    .header_mobie_bars{
        display: block;
    }
}

/* tablet */
@media (min-width:740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header_cart{
        width: 80px;
        text-align: right;
    }
    .header_sort_group{
        width: 60px;
    }
    .history_search{
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    /*  */
    .header-with-search{
        justify-content: space-between;
        padding: 0 18px;
    }
    .header_cart,.header_logo{
        width: unset;

    }
    .header_sort_group{
        display: flex;
        margin-top: 12px;
    }
    .header_mobie_search{
        display: block;
    }
    .header_mobie_bars{
        display: block;
    }
    .header_search{
        z-index: 1;
        top: var(--header-height);
        position: fixed;
        left: 0;
        right: 0;
        padding: 0 8px;
        animation: mobilesearchSideIn linear .3s;
        display: none;
    }
    .header_search_checkbox:checked ~ .header_search{
        display: flex;
    }
    .history_search{
        position: fixed;
        top: calc(var(--header-height) + var(--header_sort-bar-height) - 2px );
        width: 100%;
        padding: 0 12px;
        right: 0;
    }
    @keyframes mobilesearchSideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to{
            opacity: 1;
            top: var(--header-height)
        }
    }
    .pagination-link{
        min-width: 36px;
        font-size: 1.6rem;
    }
    .pagination-item {
        margin: 0;
    }
    .header_logo--img {
       width:  120px;
    }
    .footer_bottom{
        padding: 20px 12px;
    }
    .footer_information{
        padding: 0 12px;
    }
    .bottom-information{
        padding: 0;
    }
    .bottom-help{
        padding-top: 20px;
    }
    .item_review-sold{
        margin-left: 4px
    }
    .footer_distance_onTop{
        display: none;
    }
    .footer_lisbetween{
        margin-top: 0;
    }
    .home-product-item{
        height: 250px;
    }
    .product-item_price{
        margin: 0;
    }
    .item-infomation_name{
        margin: 4px 0;
    }
    .product-item_img{
        height: 150px;
    }
    .product-item_footer{
        display: none;
    }
    .product-item-precent_sale h3{
        font-size: 1.0rem;
        margin: 0;
    }
    .product-item-precent_sale span{
        font-size: 1.0rem;
        margin: 0 4px;
    }
    .product-item_favourite  span{
        font-size: 0.9rem;
    }
}